body {
    background-color: #607361;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* NavBar */
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    gap: 5px;
}

#logo:hover {
    background-color: #3f3f3f; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f3f3f;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 1.5rem;
}

li a:hover:not(.active){
    background-color: #9ab89b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.active {
    /* background-color: #e9c4c4; */
    background-color: #607361;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}